@import "@amar-ui-web/core";
@import "flatpickr/dist/flatpickr.min";
@import "flatpickr/dist/themes/material_blue";

.Dialog-clip {
  overflow: hidden;
}

.TextAlign {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }

  &-right {
    text-align: right;
  }
}
